

.flowersTopImage {
  position: absolute;
  width: 563px;
  left: 0;
  bottom: 0;
  object-fit: cover;
  z-index: -1;

  @media screen and (max-width: 563px) {
    width: 414px;
    height: 588px;
  }

  @media screen and (max-width: 414px) {
    width: 350px;
    height: 497px;

  }
}

.invitationContent {
  display: grid;
  grid-gap: 20px;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  @media screen and (max-width: 563px) {
    grid-gap: 15px;

  }
  @media screen and (max-width: 414px) {
    grid-gap: 10px;

  }
}


.text {
  font-size: 40px;
  line-height: 52px;
  color: #5b5b5b;
  text-align: justify;

  @media screen and (max-width: 563px) {
    font-size: 30px;
    line-height: 32px;
  }
  @media screen and (max-width: 414px) {
    font-size: 26px;
    line-height: 38px;
  }
}



.settingImg {
  width: 463px;
  object-fit: cover;

  @media screen and (max-width: 563px) {
    width: 414px;
  }

  @media screen and (max-width: 414px) {
    width: 350px;

  }
}


