.flowersLeftImage {
  position: absolute;
  height: 800px;
  width: 563px;
  left: 0;
  top: 0;
  bottom: 0;
  object-fit: cover;
  z-index: -1;
  animation-name: reveal;
  animation-duration: 5s;
  animation-delay: 8s;
  overflow: hidden;
}

.textA {
  color: #ffffff;
  font-size: 142px;
  position: absolute;
  top: 38%;
  left: 38%;
  @media screen and (max-width: 414px) {
    font-size: 120px;
    top: 37%;
    left: 35%;  }
}

.textAnd {
  opacity: 0.2;
  color: #ffffff;
  position: absolute;
  font-size: 367px;
  top: 26%;
  left: 36%;
  @media screen and (max-width: 563px) {
    top: 18%;
    left: 33%;
    font-size: 348px;
  }
  @media screen and (max-width: 414px) {
    font-size: 300px;
    top: 18%;
    left: 32%;
  }
}

.textC {
  color: #ffffff;
  font-size: 150px;
  position: absolute;
  top: 50%;
  left: 52%;
  @media screen and (max-width: 414px) {
    font-size: 145px;
    top: 47%;
    left: 50%;
  }
}

@media screen and (max-width: 563px) {
  .content {
    height: 588px;
    width: 414px;
    padding: 35px;
  }

  .flowersLeftImage {
    height: 588px;
    width: 414px;
  }

}

@media screen and (max-width: 414px) {
  .content {
    height: 497px;
    width: 350px;
    padding: 25px;
  }

  .flowersLeftImage {
    height: 497px;
    width: 350px;
  }
}

