.container {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Marck Script', cursive;;
  font-size: 50px;
  background-image: linear-gradient(to top left in oklab, hsl(33 23% 58%) 0%, hsl(33 23% 66% / 61%) 100%);
}

.content {
  position: relative;
  padding: 50px;
  background-size: cover;
  height: 800px;
  width: 563px;
  background-color: #ffffff;
  box-shadow: 16px 16px 13px 5px rgba(34, 60, 80, 0.2);
  z-index: 2;
}

.flowersLeftImage {
  position: absolute;
  height: 800px;
  width: 563px;
  left: 0;
  top: 0;
  bottom: 0;
  object-fit: cover;
  z-index: -1;
  animation-name: reveal;
  animation-duration: 5s;
  animation-delay: 8s;
  overflow: hidden;
}

.textA {
  color: #5b5b5b;
  font-size: 142px;
  position: absolute;
  top: 38%;
  left: 38%;
}

.textAnd {
  opacity: 0.2;
  color: #5b5b5b;
  position: absolute;
  font-size: 367px;
  top: 26%;
  left: 36%;
}

.textC {
  color: #5b5b5b;
  font-size: 150px;
  position: absolute;
  top: 50%;
  left: 52%;
}

@media screen and (max-width: 563px) {
  .content {
    height: 651px;
    width: 414px;
    padding: 35px;
  }

  .flowersLeftImage {
    height: 651px;
    width: 414px;
  }

}

@media screen and (max-width: 414px) {
  .content {
    height: 587px;
    width: 350px;
    padding: 25px;
  }

  .flowersLeftImage {
    height: 587px;
    width: 350px;
  }


}

