.container {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Marck Script', cursive;;
  font-size: 50px;
  background-image: linear-gradient(to top left in oklab, hsl(33 23% 58%) 0%, hsl(33 23% 66% / 61%) 100%);
}

.content {
  position: relative;
  padding: 50px;
  background-size: cover;
  height: 800px;
  width: 563px;
  background-color: #ffffff;
  box-shadow: 16px 16px 13px 5px rgba(34, 60, 80, 0.2);
  z-index: 2;
  overflow: hidden;
}

.flowersTopImage {
  position: absolute;
  height: 800px;
  width: 563px;
  left: 0;
  top: 22px;
  bottom: 0;
  object-fit: cover;
  transform: rotate(180deg);
  pointer-events: none;
}


.shadowOverlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.nameText {
  margin-top: 226px;
  font-size: 45px;
  color: #5b5b5b;

}

.text {
  margin-top: 29px;
  font-size: 28px;
  color: #5b5b5b;
  text-align: justify;
}

.dateText {
  margin-top: 20px;
  font-size: 45px;
  color: #5b5b5b;
}

.title{
  font-size: 50px;
  color: #5b5b5b;
}

@media screen and (max-width: 563px) {
  .content {
    height: 651px;
    width: 414px;
    padding: 35px;
  }

  .flowersTopImage {
    height: 651px;
    width: 414px;
  }

  .text {
    margin-top: 20px;
    font-size: 21px;
    grid-template-columns: 130px 39px 1fr;
  }

  .title{
    font-size: 45px;
  }
}

@media screen and (max-width: 414px) {

  .content {
    height: 587px;
    width: 350px;
    padding: 25px;
  }

  .flowersTopImage {
    height: 587px;
    width: 350px;
  }

  .text {
    margin-top: 25px;
    font-size: 18px;
  }

  .title{
    font-size: 42px;
  }
}
