.flowersTopImage {
  position: absolute;
  height: 800px;
  width: 563px;
  left: 0;
  bottom: 0;
  object-fit: cover;
  transform: rotate(180deg);
  pointer-events: none;
  z-index: -1;
}

.nameText {
  margin-top: 226px;
  font-size: 45px;
  color: #5b5b5b;
}

.text {
  margin-top: 29px;
  font-size: 28px;
  color: #5b5b5b;
  text-align: justify;
}

.dateText {
  margin-top: 20px;
  font-size: 45px;
  color: #5b5b5b;
}

.title{
  font-size: 50px;
  color: #5b5b5b;
}

@media screen and (max-width: 563px) {
  .content {
    height: 588px;
    width: 414px;
    padding: 35px;
  }

  .flowersTopImage {
    height: 588px;
    width: 414px;
  }

  .text {
    margin-top: 20px;
    font-size: 20px;
  }

  .title{
    font-size: 30px;
  }
}

@media screen and (max-width: 414px) {

  .content {
    height: 497px;
    width: 350px;
    padding: 25px;
  }

  .flowersTopImage {
    height: 497px;
    width: 350px;
  }

  .text {
    margin-top: 20px;
    font-size: 18px;
  }

  .title{
    font-size: 27px;
  }
}
