.heart {
  position: relative;
  z-index: 2;
}

.rhombus2 {
  margin: 100px auto 10px auto;
  border-radius: 10px;
  height: 150px;
  width: 150px;
  animation: 1s cubic-bezier(.26,-0.53,.57,2.32) 3s infinite alternate pump, 1s cubic-bezier(0.53, 0, 0.72, 0.72) 7s 1 forwards hideHeart;
}

.rhombus2:before {
  content: "";
  position: absolute;
  background: #EA4C89;
  height: 80px;
  width: 80px;
  z-index: 0;
  margin-top: 30px;
  margin-left: 30px;
  transform: rotate(45deg);
  right: 40px;
}

.circle21 {
  content: "";
  position: absolute;
  background: #EA4C89;
  height: 80px;
  width: 80px;
  z-index: 1;
  border-radius: 50%;
}

.circle22 {
  content: "";
  position: absolute;
  background: #EA4C89;
  height: 80px;
  width: 80px;
  z-index: 1;
  margin-left: 60px;
  border-radius: 50%;
}

.loaderBackdrop {
  position: absolute;
  inset: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  animation: 1s cubic-bezier(0.53, 0, 0.72, 0.72) 8s 1 forwards hideBackdrop;
}

.wrapper {
  position: relative;
  animation: 1s ease-out 0s 1 forwards reveal;
}

.text {
  color: #5b5b5b;
  font-size: 38px;
  position: absolute;
  overflow: hidden;
  word-break: keep-all;
  top: 50%;
  z-index: 1;
  font-family: 'Marck Script', cursive;
}

.textLeft {
  transform: translateX(0);
  width: 0;
  animation: 2s ease-in-out 1s 1 forwards revealLeft, .75s ease-in 6s 1 forwards hideLeft;
  text-align: left;
}

.textRight {
  transform: translateX(-20px);
  width: 0;
  right: 0;
  animation: 2s ease-in-out 1s 1 forwards revealRight, 0.75s ease-in 6s 1 forwards hideRight;
  text-align: right;
  direction: rtl;
}

@keyframes hideHeart {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0);
    pointer-events: none;
    display: none;
  }
}

@keyframes hideBackdrop {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    pointer-events: none;
    display: none;
  }
}


@keyframes pump {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

@keyframes revealLeft {
  0% {
    transform: translateX(20px);
    width: 0;
  }

  100% {
    transform: translateX(-200px);
    width: 220px;
  }
}

@keyframes revealRight {
  0% {
    display: block;
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(155px);
    width: 165px;
  }
}

@keyframes hideLeft {
  0% {
    transform: translateX(-200px);
    width: 220px;
  }

  100% {
    transform: translateX(20px);
    width: 0;
  }
}

@keyframes hideRight {
  0% {
    transform: translateX(155px);
    opacity: 1;
  }

  99% {
    transform: translateX(-20px);
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes reveal {
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

@media screen and (max-width: 563px) {


  .textLeft {
    text-align: center;
    //left: 50%;
    transform: translateX(-50%);
  }

  .textRight {
    text-align: center;
    //left: 50%;
    transform: translateX(-50%);
  }

  @keyframes revealLeft {
    0% {
      transform: translateY(20px);
      width: 0;
    }

    100% {
      transform: translateY(-150px);
      width: 220px;
    }
  }

  @keyframes revealRight {
    0% {
      display: block;
      transform: translateY(-20px);
      width: 0;
    }

    100% {
      transform: translateY(150px);
      width: 165px;
    }
  }

  @keyframes hideLeft {
    0% {
      transform: translateY(-150px), scale(1);
      opacity: 1;

    }

    100% {
      transform: translateY(0) scale(.5);
      opacity: 0;
    }
  }

  @keyframes hideRight {
    0% {
      transform: translateY(150px) scale(1);
      opacity: 1;
    }

    100% {
      transform: translateY(0) scale(.5);
      opacity: 0;
    }
  }

}

