.container {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Marck Script', cursive;;
  font-size: 50px;
  background-image: linear-gradient(to top left in oklab, hsl(33 23% 58%) 0%, hsl(33 23% 66% / 61%) 100%);
}

.content {
  position: relative;
  padding: 50px;
  background-size: cover;
  height: 800px;
  width: 563px;
  background-color: #ffffff;
  box-shadow: 16px 16px 13px 5px rgba(34, 60, 80, 0.2);
  z-index: 2;
}

.contentInfo {
  //position: absolute;
  //width: 50%;
  //height: 50%;
  //right: 0;
  //bottom: 0;
  margin-top: 91%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 73px;
}

.dateText {
  text-align: right;
  font-size: 36px;
  color: #5b5b5b;
  letter-spacing: 4px;
  margin-top: 60px;
}

.backdrop {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: right 50% bottom 0;
  z-index: 1;
}

.flowersLeftImage {
  position: absolute;
  height: 800px;
  width: 563px;
  left: 0;
  top: 0;
  bottom: 0;
  object-fit: cover;
  z-index: -1;
  animation-name: xxx;
  animation-duration: 5s;
  overflow: hidden;
}

@keyframes xxx {
  from {
    opacity: 0;
    //transform: scale(1.2);
  }
  to {
    opacity: 1;
    //transform: scale(1);
  }
}
.name {
  //text-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
  color: #5b5b5b;
}

.shadowOverlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
