.container {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Marck Script', cursive;;
  font-size: 50px;
  background-image: linear-gradient(to top left in oklab, hsl(33 23% 58%) 0%, hsl(33 23% 66% / 61%) 100%);
}

.content {
  position: relative;
  padding: 50px;
  background-size: cover;
  height: 800px;
  width: 563px;
  background-color: #ffffff;
  box-shadow: 16px 16px 13px 5px rgba(34, 60, 80, 0.2);
  z-index: 2;
}

.contentInfo {
  margin-top: 91%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 73px;
}

.backdrop {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: right 50% bottom 0;
  z-index: 1;
}

.flowersLeftImage {
  position: absolute;
  height: 800px;
  width: 563px;
  left: 0;
  top: 0;
  bottom: 0;
  object-fit: cover;
  z-index: -1;
  animation-name: reveal;
  animation-duration: 5s;
  animation-delay: 8s;
  overflow: hidden;
}

.name {
  opacity: 0;
  color: #5b5b5b;
  animation: 1.5s ease-out 9s 1 forwards reveal;
}

.dateText {
  opacity: 0;
  text-align: right;
  font-size: 36px;
  color: #5b5b5b;
  letter-spacing: 4px;
  margin-top: 60px;
  animation: 1.5s ease-out 10s 1 forwards reveal;
}

.shadowOverlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 563px) {
  .content {
    height: 588px;
    width: 414px;
    padding: 35px;
  }

  .flowersLeftImage {
    height: 588px;
    width: 414px;
  }

  .contentInfo {
    margin-top: 92%;
    font-size: 55px;
  }

  .dateText{
    font-size: 32px;
    margin-top: 35px;
  }
}

@media screen and (max-width: 414px) {
  .content {
    height: 497px;
    width: 350px;
    padding: 25px;
  }

  .flowersLeftImage {
    height: 497px;
    width: 350px;
  }

  .contentInfo {
    margin-top: 89%;
    font-size: 46px;
  }

  .dateText{
    font-size: 24px;
    margin-top: 42px;
  }
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
