.container {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Marck Script', cursive;;
  font-size: 50px;
  background-image: linear-gradient(to top left in oklab, hsl(33 23% 58%) 0%, hsl(33 23% 66% / 61%) 100%);
}

.content {
  position: relative;
  padding: 50px;
  background-size: cover;
  height: 800px;
  width: 563px;
  z-index: 2;
}

.flowersTopImage {
  position: absolute;
  height: 800px;
  width: 563px;
  left: 0;
  top: 0;
  bottom: 0;
  object-fit: cover;
  z-index: -1;
}

.shadowOverlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.text {
  margin-top: 29px;
  font-size: 25px;
  color: #5b5b5b;
  display: grid;
  grid-template-columns: 150px 68px 1fr;
  gap: 10px;
  text-align: left;
}

.additionalText{
  margin-top: 29px;
  font-size: 25px;
  color: #5b5b5b;
  text-align: end;
}

.title{
  margin-top: 60px;
  font-size: 50px;
  color: #5b5b5b;
}

.address {
  text-align: right;
}

.time {
  text-align: center;
}


@media screen and (max-width: 563px) {
  .content {
      height: 588px;
      width: 414px;
      padding: 35px;
  }

  .flowersTopImage {
      height: 588px;
      width: 414px;
  }

  .text {
    margin-top: 20px;
    font-size: 20px;
    grid-template-columns: 121px 39px 1fr;
  }

  .title{
    margin-top: 30px;
    font-size: 30px;
  }

  .additionalText{
    margin-top: 20px;
    font-size: 20px;
  }
}

@media screen and (max-width: 414px) {

  .content {
    height: 497px;
    width: 350px;
    padding: 25px;
  }

  .flowersTopImage {
    height: 497px;
    width: 350px;
  }

  .text {
    margin-top: 18px;
    font-size: 16px;
    grid-template-columns: 109px 34px 1fr;
  }

  .title{
    margin-top: 27px;
    font-size: 27px;
  }

  .additionalText{
    margin-top: 25px;
    font-size: 18px;
    margin-left: 10px;
  }
}
