.container {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Marck Script', cursive;;
  font-size: 50px;
  background-image: linear-gradient(to top left in oklab, hsl(33 23% 58%) 0%, hsl(33 23% 66% / 61%) 100%);
}

.content {
  position: relative;
  padding: 50px 50px 20px 50px;
  background-size: cover;
  height: 800px;
  width: 563px;
  background-color: #ffffff;
  box-shadow: 16px 16px 13px 5px rgba(34, 60, 80, 0.2);
  overflow: hidden;
  z-index: 2;

  @media screen and (max-width: 563px) {
    height: 651px;
    width: 414px;
    padding: 35px;
  }

  @media screen and (max-width: 414px) {
    height: 587px;
    width: 350px;
    padding: 25px;
  }
}

.flowersTopImage {
  position: absolute;
  width: 563px;
  left: 0;
  bottom: 0;
  object-fit: cover;
  z-index: -1;

  @media screen and (max-width: 563px) {
    width: 414px;
  }

  @media screen and (max-width: 414px) {
    width: 350px;
  }
}

.shadowOverlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.invitationContent {
  display: grid;
  grid-gap: 20px;
  grid-template-rows: auto 1fr auto;
  height: 100%;
}

.nameText {
  margin-top: 208px;
  font-size: 45px;
  color: #5b5b5b;

  @media screen and (max-width: 563px) {
    font-size: 34px;
    margin-top: 159px;
  }
  @media screen and (max-width: 414px) {
    font-size: 30px;
    margin-top: 147px;
  }
}

.text {
  font-size: 30px;
  line-height: 40px;
  color: #5b5b5b;
  text-align: justify;

  @media screen and (max-width: 563px) {
    font-size: 26px;
    margin-top: 23px;
  }
  @media screen and (max-width: 414px) {
    font-size: 24px;
    margin-top: 20px;
  }
}

.dateText {
  font-size: 45px;
  color: #5b5b5b;
  text-align: end;

  @media screen and (max-width: 563px) {
    font-size: 34px;
  }
  @media screen and (max-width: 414px) {
    font-size: 30px;
  }
}
